.block {
  height: auto;
  width: auto;
}
.block:active img{
  display: inline-block;
}

img {
  height: auto;
  width: 980px;
  display: none;
}

html { 
  scroll-behavior: smooth; 
} 

.area {   
	float: left;
	margin-right: 20px;
	frameborder: 0;
}

.clear {
    clear: both;
}





#top {
    border: 1px solid black;
    height: 3000px;
}

#bottom {
    border: 1px solid red;
}















white {
color: white; font-family: Monaco,Consolas,Lucida Console,monospace; font-size: 12px; font-style: normal; line-height: 18.4px;
}

pink {
color: #F97EEE; font-family: monaco,Consolas,Lucida Console,monospace; font-size: 12px; font-style: normal; line-height: 18.4px;
}

n {
color: #607d8b; font-family: monaco,Consolas,Lucida Console,monospace; font-size: 12px; font-style: normal; line-height: 18.4px;
}

quote {
color: #858b97; font-family: monaco,Consolas,Lucida Console,monospace; font-size: 12px; font-style: normal; line-height: 18.4px;
}

purple {
color: #8B00FB; font-family: monaco,Consolas,Lucida Console,monospace; font-size: 12px; font-style: normal; line-height: 18.4px;
}

violet {
color: #800080; font-family: monaco,Consolas,Lucida Console,monospace; font-size: 12px; font-style: normal; line-height: 18.4px;
}

blue {
color: #006ee6; font-family: monaco,Consolas,Lucida Console,monospace; font-size: 12px; font-style: normal; text-decoration: underline; line-height: 18.4px;
}

green {
color: #00FF04; font-family: monaco,Consolas,Lucida Console,monospace; font-size: 12px; font-style: normal; text-decoration: underline; line-height: 18.4px;
}

coral {
color: #FF585C; font-family: monaco,Consolas,Lucida Console,monospace; font-size: 12px; font-style: normal; line-height: 18.4px;
}

neon {
color: #AAFD00; font-family: monaco,Consolas,Lucida Console,monospace; font-size: 12px; font-style: normal; line-height: 18.4px;
}

orange {
color: #FD8D00; font-family: monaco,Consolas,Lucida Console,monospace; font-size: 12px; font-style: normal; line-height: 18.4px;
}

red {
color: #FF0000; font-family: monaco,Consolas,Lucida Console,monospace; font-size: 12px; font-weight: bold; font-style: italic; line-height: 18.4px;
}

body {
background-color: black;
}
