html {scroll-behavior: smooth;} 
body {background-color: #191919; height: 90vh; width: 90vw;}
	  
img {height: auto; height: 320px; display: block; align:center;}
#logo {position: fixed; left: 20px;}
#toc {position:fixed; right: 20px;}


input {position: fixed; left: -9999px;}
label {color: #blue;}

#top {border: 1px solid #000000; height: 3000px;}
#bottom {border: 1px solid #FF0000;}

.block {height: auto; width: auto;}
.block:active img{display: inline-block;}
.block:active logo{display: inline-block;}
.area {float: left; margin-right: 20px; frameborder: 0;}
.clear {clear: both;}

.box-wrap {display:flex;  flex-direction: column;  width: 100vw;  height: 100vh;  justify-content: center;  align-items: center;}
		
.flex {  display: flex;  flex-direction: column;  justify-content: center;  align-items: center;}
.flex-item {  display: flex;  flex-direction: column;  justify-content: left;  align-items: left;}

.button {
  border: none;
  color: #161616;
width: 180px;
height: 40px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  margin: 5px;
  transition-duration: 0.3s;
  cursor: pointer;
}

.button1 { background-color: #000000; color: #161616; border: 1px solid #AAFD00;}
.button1:hover { background-color: #AAFD00; color: #FFFFFF;}

.button2 { background-color: #000000; color: #FFFFFF; border: 1px solid #3f0000;}
.button2:hover { background-color: #3f0000; color: #FFFFFF;}

h1 {color: #FFFFFF; font-family: "monaco",Consolas,Lucida Console,monospace; font-size: 24px; font-style: bold; line-height: 26.4px;}
white {color: #FFFFFF; font-family: "monaco",Consolas,Lucida Console,monospace; font-size: 12px; font-style: normal; line-height: 18.4px;}
pink {color: #FD8D00; font-family: "monaco",Consolas,Lucida Console,monospace; font-size: 12px; font-style: normal; line-height: 18.4px;}
n {color: #607d8b; font-family: "monaco",Consolas,Lucida Console,monospace; font-size: 12px; font-style: normal; line-height: 18.4px;}
quote {color: #858b97; font-family: "monaco",Consolas,Lucida Console,monospace; font-size: 12px; font-style: normal; line-height: 18.4px;}
purple {color: #8B00FB; font-family: "monaco",Consolas,Lucida Console,monospace; font-size: 12px; font-style: normal; line-height: 18.4px;}
violet {color: #800080; font-family: "monaco",Consolas,Lucida Console,monospace; font-size: 12px; font-style: normal; line-height: 18.4px;}
blue {color: #006ee6; font-family: "monaco",Consolas,Lucida Console,monospace; font-size: 12px; font-style: normal; line-height: 18.4px;}
green {color: #00FF04; font-family: "monaco",Consolas,Lucida Console,monospace; font-size: 12px; font-style: normal; text-decoration: underline; line-height: 18.4px;}
coral {color: #FF585C; font-family: "monaco",Consolas,Lucida Console,monospace; font-size: 12px; font-style: normal; line-height: 18.4px;}
neon {color: #AAFD00; font-family: "monaco",Consolas,Lucida Console,monospace; font-size: 12px; font-style: normal; line-height: 18.4px;}
orange {color: #F97EEE; font-family: "monaco",Consolas,Lucida Console,monospace; font-size: 12px; font-style: normal; line-height: 18.4px;}
red {color: #FF0000; font-family: "monaco",Consolas,Lucida Console,monospace; font-size: 12px; font-weight: bold; font-style: italic; line-height: 18.4px;}
remarks {color: #555555; font-family: "monaco",Consolas,Lucida Console,monospace; font-size: 12px; font-weight: bold; font-style: normal; line-height: 18.4px;}

.blinking-cursor {
  font-weight: 200;
  font-size: 16px;
  color: #AAFD00;
  -webkit-animation: 1s blink step-end infinite;
  -moz-animation: 1s blink step-end infinite;
  -ms-animation: 1s blink step-end infinite;
  -o-animation: 1s blink step-end infinite;
  animation: 1s blink step-end infinite;
}

@keyframes "blink" {from, to {color: transparent;} 50% {color: #AAFD00;}}

@-moz-keyframes blink {from, to {color: transparent;} 50% {Color: #AAFD00;}}
@-webkit-keyframes "blink" {from, to {color: transparent;} 50% {color: #AAFD00;}}
@-ms-keyframes "blink" {from, to {color: transparent;} 50% {color: #AAFD00;}}
@-o-keyframes "blink" {from, to {color: transparent;} 50% {color: #AAFD00;}}


.photo1 img{width: 0px; height: 0px; transition: all 0.3s;}
#toggleBtn1:checked ~ .photo1 img{vertical-align: bottom; width: 100vw; height: auto;}

.photo2 img{width: 0px; height: 0px; transition: all 0.3s;}
#toggleBtn2:checked ~ .photo2 img{vertical-align: bottom;width: 25%; height: 25%;}

.photo3 img{width: 0px; height: 0px; transition: all 0.3s;}
#toggleBtn3:checked ~ .photo3 img{vertical-align: bottom;width: 25%; height: 25%;}

.photo4 img{width: 0px; height: 0px; transition: all 0.3s;}
#toggleBtn4:checked ~ .photo4 img{width: 25%; height: 25%;}

.photo5 img{width: 0px; height: 0px; transition: all 0.3s;}
#toggleBtn5:checked ~ .photo5 img{width: 25%; height: 25%;}

.photo6 img{width: 0px; height: 0px; transition: all 0.3s;}
#toggleBtn6:checked ~ .photo6 img{width: 25%; height: 25%;}

.photo7 img{width: 0px; height: 0px; transition: all 0.3s;}
#toggleBtn7:checked ~ .photo7 img{width: 25%; height: 25%;}

.photo8 img{width: 0px; height: 0px; transition: all 0.3s;}
#toggleBtn8:checked ~ .photo8 img{width: 25%; height: 25%;}

.photo9 img{width: 0px; height: 0px; transition: all 0.3s;}
#toggleBtn9:checked ~ .photo9 img{width: 25%; height: 25%;}

.photo10 img{width: 0px; height: 0px; transition: all 0.3s;}
#toggleBtn10:checked ~ .photo10 img{width: 25%; height: 25%;}

.photo11 img{width: 0px; height: 0px; transition: all 0.3s;}
#toggleBtn11:checked ~ .photo11 img{width: 25%; height: 25%;}

.photo12 img{width: 0px; height: 0px; transition: all 0.3s;}
#toggleBtn12:checked ~ .photo12 img{width: 25%; height: 25%;}

.photo13 img{width: 0px; height: 0px; transition: all 0.3s;}
#toggleBtn13:checked ~ .photo13 img{width: 25%; height: 25%;}

.photo14 img{width: 0px; height: 0px; transition: all 0.3s;}
#toggleBtn14:checked ~ .photo14 img{width: 25%; height: 25%;}

.photo15 img{width: 0px; height: 0px; transition: all 0.3s;}
#toggleBtn15:checked ~ .photo15 img{width: 25%; height: 25%;}

.photo16 img{width: 0px; height: 0px; transition: all 0.3s;}
#toggleBtn16:checked ~ .photo16 img{width: 25%; height: 25%;}

.photo17 img{width: 0px; height: 0px; transition: all 0.3s;}
#toggleBtn17:checked ~ .photo17 img{width: 25%; height: 25%;}

.photo18 img{width: 0px; height: 0px; transition: all 0.3s;}
#toggleBtn18:checked ~ .photo18 img{width: 25%; height: 25%;}

.photo19 img{width: 0px; height: 0px; transition: all 0.3s;}
#toggleBtn19:checked ~ .photo19 img{width: 25%; height: 25%;}

.photo20 img{width: 0px; height: 0px; transition: all 0.3s;}
#toggleBtn20:checked ~ .photo20 img{width: 25%; height: 25%;}

.wrapper {
  --color: #FFFFFF;
  --color-invert: #000000;
  --clip-path: circle(5px at center);
  --clip-path-hover: circle(15px at center);
  --clip-path-clicked: circle(100vw at center);
  --duration: .2s;
  --timing-function: ease;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90vw; height: 20vh;
  
  .video {
    height: 80vh;
    width: 80vw;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    clip-path: var(--clip-path);
    transition: clip-path var(--duration) var(--timing-function);
    video {
      position: fixed;
      background: #AAFD00;
      top: 50%;
      left: 50%;
      min-width: 100%;
      min-height: 100%;
      width: 90vw;
      height: 90vh;
      transform: translate(-50%, -50%);
    }
  }
  
  input {
    width: 220px;
    height: 40px;
    margin: auto;
    position: absolute;
    left: 0;
    right: 0;
    border-radius: 40px;
    outline: none; 
    z-index: 2;
    appearance: none;
    cursor: pointer;
    &:focus {
      outline: 0;
    }
    &:hover {
      ~ .video {
        clip-path: var(--clip-path-hover);
      }
      ~ .text {
        &::before {
          --r: 25px;
          --opacity: 1;
        }
        &::after {
          clip-path: var(--clip-path-hover);
        }
        > span {
          &::after {
            clip-path: var(--clip-path-hover);
          }
        }
      }
    }
    &:checked {
      width: 100%;
      height: 100%;
      border-radius: 0;
      ~ .video {
        clip-path: var(--clip-path-clicked);
      }
      ~ .text {
        --opacity: 0;
        transition: opacity .3s var(--timing-function);
        &::after {
          clip-path: var(--clip-path-clicked);
        }
        > span {
          &::after {
            clip-path: var(--clip-path-clicked);
          }
        }
      }
    }
  }
}
